<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
</head>
<body>
    <!-- ЭКРАН С ВЫБОРОМ ЯЗЫКА -->
    <div class="popup" id="languagePopup">
        <div class="lang">
            <div class="lang-hud">
                <p>Поменять язык?</p>
                <img src="{{ url_for('static', path='img/close.svg') }}" alt="">
            </div>
            <p id="choose">Выберите язык <br> Choose language</p>
            <div class="languages">
                <a href="#" id="langRu"><img src="{{ url_for('static', path='img/ru.svg') }}" alt="Русский">RU</a>
                <a href="#" id="langEn"><img src="{{ url_for('static', path='img/en.svg') }}" alt="English">EN</a>
            </div>
        </div>
    </div>
    
    <div class="info-overlay" id="infoOverlay">
    <div class="info">
        <div class="info-content">
            <button class="closeinfo-btn" id="infoCloseBtn">
                <img src="{{ url_for('static', path='img/close.svg') }}" alt="Закрыть">
            </button>
            <ul>
                <li>Посадка и полив:</li>
                <p>Сажайте ростки и поливайте их, чтобы вырастить деревья. Каждый этап полива открывается каждые 12 часов.</p>
                <li>Заповедник:</li>
                <p>Пересаживайте взрослые деревья в заповедник и получайте вознаграждения.</p>
                <li>Награды:</li>
                <p>Зарабатывайте токены ECO за полив и пересадку. Чем больше деревьев, тем выше ваш множитель награды. Увеличивайте награды, приглашая друзей и выполняя активности.</p>
                <li>Улучшения:</li>
                <p>Приобретайте улучшения, чтобы увеличить свой доход.</p>
            </ul>
        </div>
    </div>
</div>

    <!---------------------------------------------------------->

    <div class="app">
        <div class="app-content">
            <div class="top">
                <div class="header">
                    <a href="#">
                        <img class="info_head" src="{{ url_for('static', path='img/info.svg') }}" alt="info">
                    </a>
                    <a class="rait-top" href="#">
                        <div class="score">
                            <img src="{{ url_for('static', path='img/Trophy.svg') }}" alt="">
                            <p>Рейтинг: </p>
                            <p>#13</p>
                        </div>
                        <div class="name-company">
                            <p>Название компании</p>
                        </div>
                    </a>

                        <div class="overlay-guide" id="overlayGuide">
    <div class="guide-slide" id="slide1">
        <div class="preview-content">
            <div class="preview-hud">
                <img src="{{ url_for('static', path='img/lang.svg') }}" alt="lang-logo">
            </div>
            <div class="step-progress">
                <p id="stepText">Step 1 of 3</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 33%;"></div>
                </div>
            </div>
            <div class="preview-text">
                <h1>Welcome to the First Phase
                of the ECO PROJECT</h1>
                <p>Introducing the $ECO token!</p>
                <p>ECO represents your time and effort.The token developed by the ECO PROJECT company rewards every productive second spent for the benefit of our planet’s ecology.</p>
            </div>
            <img src="{{ url_for('static', path='img/logo.svg') }}" alt="eco-logo">
            <div class="preview-btn">
                <button class="next-btn" onclick="showNextSlide(2)">Далее</button>
            </div>
        </div>
    </div>
    <div class="guide-slide" id="slide2">
        <div class="preview-content">
            <div class="preview-hud">
                <img src="{{ url_for('static', path='img/lang.svg') }}" alt="lang-logo">
            </div>
            <div class="step-progress">
                <p id="stepText">Step 2 of 3</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 66%;"></div>
                </div>
            </div>
            <div class="preview-text">
                <h1>STAY WITH ECO!</h1>
                <p>Earn tokens every 12 hours by watering
your tree or completing tasks
to maximize your rewards.</p>
                
            </div>
            <img src="{{ url_for('static', path='img/bags.svg') }}" alt="eco-logo">
            <div class="preview-btn">
                <button class="next-btn" onclick="showNextSlide(3)">Далее</button>
            </div>
        </div>
    </div>
    <div class="guide-slide" id="slide3">
        <div class="preview-content">
            <div class="preview-hud">
                <img src="{{ url_for('static', path='img/lang.svg') }}" alt="lang-logo">
            </div>
            <div class="step-progress">
                <p id="stepText">Step 3 of 3</p>
                <div class="progress-bar">
                    <div class="progress" style="width: 100%;"></div>
                </div>
            </div>
            <div class="preview-text">
                <h1>MULTIPLY YOUR PROFITS!</h1>
                <p>The more you play, the bigger your profit!
For every tree transplanted to the reserve,
you get a multiplier to the subsequent profit.
You can also be eco-active
and recieve special rewards! </p>
            </div>
            <img src="{{ url_for('static', path='img/listiki.svg') }}" alt="eco-logo">
            <div class="preview-btn">
                <button class="close-btn" onclick="closeGuide()">Начать игру</button>
            </div>
        </div>
    </div>
</div>


                    <a href="#">
                        <img class="lang_head" src="{{ url_for('static', path='img/lang.svg') }}" alt="">
                    </a>
                </div>
                <!-- eco сверху -->
                <div class="ecoeco">
                    <div class="eco1">
                        <img src="{{ url_for('static', path='img/Ecocoin1.svg') }}" alt="">
                        <p>Eco: <span id="ecoAmount">0</span></p>
                    </div>
                    <div class="eco2">
                        <img src="{{ url_for('static', path='img/goldmoney.svg') }}" alt="">
                        <p>Eco: <span id="ecoAmount2">0</span></p>
                    </div>
                </div>
            </div>

            <div  id="index-bottom" class="bottom">
                <div class="blueblock">
                    <div class="bluecontent">

                        <div class="manag-content">
                            <div class="manag-drops">
                                <!-- Блок для капель -->
                                <div class="drops">
                                    <img src="{{ url_for('static', path='img/whitedrop.svg') }}" alt="Drop" class="drop" id="drop1">
                                    <img src="{{ url_for('static', path='img/whitedrop.svg') }}" alt="Drop" class="drop" id="drop2">
                                    <img src="{{ url_for('static', path='img/whitedrop.svg') }}" alt="Drop" class="drop" id="drop3">
                                    <img src="{{ url_for('static', path='img/whitedrop.svg') }}" alt="Drop" class="drop" id="drop4">
                                    <img src="{{ url_for('static', path='img/whitedrop.svg') }}" alt="Drop" class="drop" id="drop5">
                                </div>
                            </div>
                            <div class="manag-btns">
                                <div class="manag-info">
                                    <div class="manag-timer">
                                        <div class="timer" id="timer">00:00:00</div>
                                    </div>
                                    <div class="manag-text">
                                        <p>Посадите дерево</p>
                                    </div>
                                </div>
                                <button class="button" id="seedButton">
                                    <img src="{{ url_for('static', path='img/seed.svg') }}" alt="Семечко">
                                </button>
                                <button class="button" id="waterButton" style="display: none;">
                                    <img src="{{ url_for('static', path='img/dropbtn.svg') }}" alt="Капля">
                                </button>
                                <button class="button" id="transferButton" style="display: none;">
                                    <img src="{{ url_for('static', path='img/resycle.svg') }}" alt="Передать дерево в заповедник">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <div class="footer-blocks">
                            <a href="{{ url_for('profile') }}" class="footer-block_profile">
                                <img src="{{ url_for('static', path='img/icons/Group 145.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('friends') }}" class="footer-block_friends">
                                <img src="{{ url_for('static', path='img/icons/Group 146.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('index') }}" class="footer-block_play">
                                <img src="{{ url_for('static', path='img/icons/Group 147-1.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('upgrade') }}" class="footer-block_upgrade">
                                <img src="{{ url_for('static', path='img/icons/Group 149.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('tasks') }}" class="footer-block_tasks">
                                <img src="{{ url_for('static', path='img/icons/Group 148.svg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="circle-overlay">
            <img src="{{ url_for('static', path='/img/1.svg') }}" alt="Горшок" id="mainImage">
        </div>
    </div>
    
    

    <script src="{{ url_for('static', path='js/script.js') }}"></script>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="https://webappcontent.telegram.org/js/jquery.min.js"></script>
    <script>
        Telegram.WebApp.ready();
        var tg = Telegram.WebApp.initDataUnsafe || 0;

        $.ajax({
            url: '/user-data',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify({
                user_id: tg.user.id
            }),
            success: function(response) {
                if (response.success) {
                    document.getElementById('ecoAmount').textContent = response.eco;
                    document.getElementById('ecoAmount2').textContent = response.jeton;
                    
                    console.log('Данные Telegram успешно проверены и обновлены');
                } else {
                    console.log('Ошибка при проверке данных Telegram');
                }
            },
            error: function() {
                console.log('Ошибка при отправке данных на сервер');
            }
        });
    </script>
</body>
</html>