<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="preview">
        <div class="preview-content">
            <div class="preview-hud">
                <img src="" alt="lang-logo">
            </div>
            <div class="progress-bar">

            </div>
            <div class="preview-text">
                <h1></h1>
                <p></p>
                <p></p>
            </div>
            <img src="" alt="eco-logo">
            <div class="preview-btn">
                
            </div>
        </div>
    </div>


</body>
</html>