<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

            <div class="stata">
                <div class="stata-content">
                    <img src="" alt="logo.svg">
                    <div class="top-comp-users">
                        <div class="top-company">
                            <p>Топ компаний</p>
                        </div>
                        <div class="top-users">
                            <p>Топ пользователей</p>
                        </div>
                    </div>
                    <p>Топ пользователей (без учета дохода друзей)</p>
                    <div class="position">
                        <p>Ваша позиция: 777</p>
                    </div>
                    <div class="dohod">
                        <p>Ваш доход: 555666 <img src="" alt="Ecocoin.svg"></p>
                    </div>
                    <div class="bluelist">
                        <div class="bluelist-content">
                            <div class="playerone">
                                <div class="player-num">1</div>
                                <div class="player-name">Имя игрока</div>
                                <div class="player-wallet">1.000.000 <img src="" alt="Ecocoin.svg"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


</body>
</html>