<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    

    <div class="info">
        <div class="info-content">
            <ul>
                <li>Посадка и полив:</li>
                <p>Сажайте ростки и поливайте их, чтобы вырастить деревья. Каждый этап полива открывается каждые 12 часов.</p>
                <li>Заповедник:</li>
                <p>Пересаживайте взрослые деревья в заповедник и получайте вознаграждения.</p>
                <li>Награды:</li>
                <p>Зарабатывайте токены ECO за полив и пересадку. Чем больше деревьев, тем выше ваш множитель награды.Увеличивайте награды, приглашая друзей и выполняя активности.</p>
                <li>Улучшения:</li>
                <p>Приобретайте улучшения, чтобы увеличить свой доход</p>
            </ul>
        </div>
    </div>


</body>
</html>