<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/profile.css') }}">
</head>
<body>
    <div class="app">
        <div class="app-content">
            <div class="top">
                <div class="header">
                    <a href="#">
                        <img class="lang_head" src="{{ url_for('static', path='img/lang.svg') }}" alt="">
                    </a>

                    <a href="#" id="settings-icon">
                        <img class="info_head" src="{{ url_for('static', path='img/settings.svg') }}" alt="">
                    </a>
                </div>
                <div class="center-content">
                    <div class="center-text">
                         <img src="{{ url_for('static', path='img/ava.png') }}" alt="" id="avatar">
                         <p class="profile-name">Имя профиля</p>
                         <div class="rating">
                            <img src="{{ url_for('static', path='img/trophyblack.svg') }}" alt="">
                            <p class="rating-p">Rating: </p>
                            <p>#156</p>
                         </div>
                         <div class="balance">
                            <img src="{{ url_for('static', path='img/Ecocoin1.svg') }}" alt="">
                            <p>1 200 986</p>
                         </div>
                         <p class="podpis">Баланс</p>
                    </div>
                    <div class="center-btns">
                        <div class="eco-active">
                            <p class="eco-active-text">
                                <img src="{{ url_for('static', path='img/goldmoney.svg') }}" alt="">Эко-активности
                            </p>
                            <p class="eco-active-counter">5</p>
                        </div>
                        <div class="tasks-complete">
                            <p class="eco-active-text">Выполнено заданий</p>
                            <p class="eco-active-counter">10</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <div class="blueblock">
                    <div class="bluecontent">
                        <div class="profile-unfi">
                            <div class="infi1">
                                <div class="procent">
                                    <img src="{{ url_for('static', path='img/procent.svg') }}" alt="">
                                    <p>Множитель прибыли</p>
                                    <span>10%</span>
                                </div>
                                <div class="fast">
                                    <img src="{{ url_for('static', path='img/adrop.svg') }}" alt="">
                                    <p>Ускорение полива</p>
                                    <span>1.2X</span>
                                </div>
                            </div>
                            <div class="infi2">
                                <div class="infi2-inner">
                                    <div class="infi2-friends">
                                        <p><img src="{{ url_for('static', path='img/friendsfull.svg') }}" alt="friends">Друзья</p>
                                        <span>5</span>
                                    </div>
                                    <div class="infi2-mytrees">
                                        <p><img src="{{ url_for('static', path='img/trees.svg') }}" alt="friends">Мои деревья</p>
                                        <span>10</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <div class="footer-blocks">
                            <a href="{{ url_for('profile') }}" class="footer-block_profile">
                                <img src="{{ url_for('static', path='img/icons/Group 145-1.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('friends') }}" class="footer-block_friends">
                                <img src="{{ url_for('static', path='img/icons/Group 146.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('index') }}" class="footer-block_play">
                                <img src="{{ url_for('static', path='img/icons/Group 147.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('upgrade') }}" class="footer-block_upgrade">
                                <img src="{{ url_for('static', path='img/icons/Group 149.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('tasks') }}" class="footer-block_tasks">
                                <img src="{{ url_for('static', path='img/icons/Group 148.svg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="settings" id="settings-overlay" style="display: none;">
        <div class="settings-content">
            <div class="settings-hud">
                <p>Настройки</p>
                <img src="{{ url_for('static', path='img/close.svg') }}" alt="" id="close-settings">
            </div>
            <img class="settings-logo" src="{{ url_for('static', path='img/logo.svg') }}" alt="">
            <p class="sett-text">Кошелек не привязан</p>
            <div class="settings-btn">
                <div class="privyazat">
                    <p>Привязать кошелек</p>
                </div>
                <div class="pereschitat">
                    <p>Пересчитать баллы и ранг </p>
                </div>
                <div class="obnovit">
                    <p>Обновить профиль</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', path='js/script-profile.js') }}"></script>
</body>
</html>
