<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tasks.css') }}">
</head>
<body>
    <div class="app">
        <div class="app-content">
            <div class="top">
                <div class="header">
                    <img class="ecologo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
                    <p class="zadanja">Задания</p>
                    <span class="header-txt">После выполнения каждого задания вы будете получать токены ECO</span>
                </div>
                <div class="center-content">
                    <div class="center-btns">
                        <a href="">
                            <div class="daily">Ежедневное задание</div>
                        </a>
                        <a href="">
                            <div class="achiv">Достижения</div>
                        </a>
                        <a href="">
                            <div class="dostupno">Заданий доступно: <span class="dostupno-zadaniy">19</span></div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="bottom">
                <div class="blueblock">
                    <div class="bluecontent">
                        <div class="tasks-start">
                            <div class="taski">
                                <p>Задания</p>
                            </div>
                            <div class="activenost">
                                <p>Прояви Эко-активность </p>
                                <p>От +50 000 (eco)</p>
                                <p>От +1 (активити жетон)</p>
                            </div>
                        </div>
                    </div>
                    <div class="menu">
                        <div class="footer-blocks">
                            <a href="{{ url_for('profile') }}" class="footer-block_profile">
                                <img src="{{ url_for('static', filename='img/icons/Group 145.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('friends') }}" class="footer-block_friends">
                                <img src="{{ url_for('static', filename='img/icons/Group 146.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('index') }}" class="footer-block_play">
                                <img src="{{ url_for('static', filename='img/icons/Group 147-1.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('upgrade') }}" class="footer-block_upgrade">
                                <img src="{{ url_for('static', filename='img/icons/Group 149.svg') }}" alt="">
                            </a>
                            <a href="{{ url_for('tasks') }}" class="footer-block_tasks">
                                <img src="{{ url_for('static', filename='img/icons/Group 148.svg') }}" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="settings" id="settings-overlay" style="display: none;">
        <div class="settings-content">
            <div class="settings-hud">
                <p>Настройки</p>
                <img src="{{ url_for('static', filename='img/close.svg') }}" alt="" id="close-settings">
            </div>
            <img class="settings-logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="">
            <p class="sett-text">Кошелек не привязан</p>
            <div class="settings-btn">
                <div class="privyazat">
                    <p>Привязать кошелек</p>
                </div>
                <div class="pereschitat">
                    <p>Пересчитать баллы и ранг </p>
                </div>
                <div class="obnovit">
                    <p>Обновить профиль</p>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script-profile.js') }}"></script>
</body>
</html>
